
<div class="bg-img">
    <div class="containerForm">
    <form action="/studentLogin" method="post" class="mb-4" >
    <%if(messages.error){%>
        <span class="text-red-500 text-sm"><%= messages.error%></span>
        <%}%>
    <h1>Login</h1>

    <label for="registrationNumber"><b>Registration Number</b></label>
    <input type="text" placeholder="Registration Number" name="registrationNumber" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit" class="btn">Login</button>
    </form>
    <div class="flex justify-center">
      <div><h3><b>OR</b></h3></div></div>
    <form action="/forgotPassword" method="post">
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Email" name="email" required>
      <button type="submit" class="btn">Change Password</button>
    </form>
    </div>
</div>
  