<nav class="navbar rounded-md shadow-md">
    <div class="flex items-center justify-between p-2">
        <div>
            <h1 class="text-xl font-bold">SRMS | ADMIN</h1>
        </div>
        <ul>
            <li>
                <a href="/adminLogout">logout</a>
            </li>
        </ul>
    </div>
</nav>