

<section class="sidebar w-1/6 shadow-md">
    <div class = "dashboard py-2">
        <a href="#" class="dropdown-txt">Dashboard</a>
    </div>
    <div class="py-3">
        <a href="/profile" class="dropdown-txt">Profile</a>
        <button class="dropdown-btn dropdown-txt">Student
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="/studentRegister">Add Student</a>
            <a href="/getStudent">Manage Student</a>
        </div>
        <button class="dropdown-btn dropdown-txt">Faculty
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="/facultyRegister">Add Faculty</a>
            <!-- <a href="#">Link 2</a>
            <a href="#">Link 3</a> -->
        </div>
        <div class="dropdown-container">
            <!-- <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a> -->
        </div>
        <button class="dropdown-btn dropdown-txt">Marks
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="/check">View Marks</a>
            <a href="/uploadMarks">Manage Marks</a>
            <a href="/updateMarksPage">Update Marks</a>
            <a href="/publish">Publish</a>
            <!-- <a href="#">Link 3</a> -->
        </div>
    </div>
</section>