<nav class="navbar rounded-md shadow-md">
    <div class="flex items-center justify-between p-2">
        <div>
            <h1 class="text-xl font-bold">SRMS | FACULTY</h1>
        </div>
        <ul class="flex items-center">
            <li class="ml-4">
                <a href="/facultyLogout" class="font-bold">Logout</a>
            </li>
        </ul>
    </div>
</nav>