
<div class="bg-img">
    <form action="/postOTP" method="post" class="containerForm">
        <%if(messages.error){%>
        <span class="text-red-500 text-sm"><%= messages.error%></span>
      <%}%>
    <h1>Reset Password</h1>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Email" name="email" required>

    <label for="otp"><b>OTP</b></label>
    <input type="text" placeholder="OTP" name="otp" required>

    <label for="newPassword"><b>New Password</b></label>
    <input type="password" placeholder="New Password" name="newPassword" required>

    <label for="confirmPassword"><b>Confirm Password</b></label>
    <input type="password" placeholder="Confirm Password" name="confirmPassword" required>

    <button type="submit" class="btn mt-4">Save</button>
  </form>
</div>