<div class="m-auto w-4/5 scrollable">
    <form action="/addAdmin" method="post">
        <div class="container">
           
          <label for="name"><b>Name</b></label>
          <input type="text" placeholder="Student's Name" name="name" id="name"  required>  
          
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" id="email" required>
          
          <label for="birthday" class="stud-label"><b>DOB</b></label>
          <br>
          <input type="text" placeholder="dd-mm-yyyy" class="dob" name="dob">

          <label for="joiningYear" class="stud-label"><b>Joining Year</b></label>
          <br>
          <input type="text" placeholder="yyyy" class="" name="joiningYear">

          <label for="phone"><b>Mobile Number</b></label>
          <input type="text" placeholder="Mobile Number" name="conatctNumber" required>

          <button type="submit" class="registerbtn">Register</button>
        </div>
      </form>
</div>
