<div class="bg-img">
    <form action="/forgotPassword" method="post" class="containerForm">
    <h1>Reset Password</h1>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Email" name="email" required>


    <button type="submit" class="btn">Submit</button>
  </form>
</div>