@import './variables';

.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
    border: 2px solid $border-color;

}
.modal_container{
    display: flex;
}
.profile_picture
{
    border: 1px solid black;
    height: 100px;
    width: 100px;
}
